# configuration settings for http://travis-ci.org

language: ruby

rvm:
  - 2.0.0

before_install:
  - gem install bundler

bundler_args: --without development assets

before_script:
  - "bundle exec rake db:create"
  - "RAILS_ENV=test rake db:migrate"

script:
  - "TRAVIS=1 bundle exec rake test"
  - "TRAVIS=1 bundle exec cucumber"
  - "TRAVIS=1 bundle exec rspec -O rand -c"

notifications:
  email: false

branches:
  only:
    - master
