<table>
  <tr>
    <th>Collected</th>
    <td><%= current_user.currencies.count %></td>
  </tr>
  <tr>
    <th>Not Collected</th>
    <td><%= current_user.not_collected_currencies.count %></td>
  </tr>
</table>
